@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

@theme{
    --breakpoint- *: initial;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1100px;
    --color-primary: #4D7FB8;
    --color-prgcolor: #39393b;
    --color-graycolor: #828D9E;
    --color-bordercolor: #e5e7eb;
}

@utility container {
    margin-inline: auto;
    padding: 1rem;
}

:root {
    --background: #ffffff;
}

body {
    font-family: "Roboto", sans-serif !important;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*------------------- Mobile Menu -------------------*/
#mobile_menu {
    position: fixed;
    z-index: 2;
    left: 0;
    top: -120%;
    transition: 0.3s ease-in-out;
    height: 100%;
}

.show_menu {
    top: 0 !important;
    height: 100% !important;
}

/*------------------- Account -------------------*/
#account_dropdown_menu {
    top: 49px;
    right: 10%;
    width: 315px;
    height: 0;
    visibility: hidden;
    overflow: hidden;
}

.show-account-dropdown-menu {
    visibility: visible !important;
    height: 360px !important;
}

/* Check box design */
#checkbox label input {
    color: #4D7FB8 !important;
    font-width: 400 !important;
}

/* Home page slider keyframe */
@keyframes scroll-left-loop {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.animate-scroll-left-delay {
    animation: scroll-left-loop 30s linear infinite;
    animation-delay: 0s;
}


